.wrapper {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  /* display: grid;
  grid-template-columns: 3fr 2fr; */
  display: flex;
}