.square_unselected {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: lightgrey;
}

.square_selected {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: black;
}