.square_unselected {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: lightgrey;
  cursor: pointer;
}

.square_selected {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(44, 76, 255);
  cursor: pointer;
}

.price_text {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  letter-spacing: -.05rem;
  color: rgba(12,11,8,.75);
  box-sizing: inherit;
  font-size: .9rem;
  font-weight: 800;
  line-height: .9rem;
}

.style_container {
  padding-bottom: .2rem;
}

.style_list {
  display: flex;
  flex-direction: column;
}

.style_text {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  touch-action: manipulation;
  font-family: Graphik,"Helvetica Neue",sans-serif;
  font-style: normal;
  letter-spacing: -.05rem;
  font-size: .95rem;
  line-height: .9rem;
  font-weight: 750;
  color: rgba(12,11,8,.75);
  padding-bottom: .75rem;
}